:root {
  --bg-main: #020617;
  --bg-card: #0f172a;
  --text-main: #ffffff;
  --text-muted: #94a3b8;
  --primary: #3b82f6;
  --border-color: #1e293b;
}

body.light-mode {
  --bg-main: #f8fafc;
  --bg-card: #ffffff;
  --text-main: #0f172a;
  --text-muted: #64748b;
  --border-color: #e2e8f0;
}
body {
  font-family: "cairo", sans-serif;
  transition:
    background-color 0.3s,
    color 0.3s;
  -webkit-transition:
    background-color 0.3s,
    color 0.3s;
  -moz-transition:
    background-color 0.3s,
    color 0.3s;
  -ms-transition:
    background-color 0.3s,
    color 0.3s;
  -o-transition:
    background-color 0.3s,
    color 0.3s;
}
