a {
  text-decoration: none;
  color: var(--text-main);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: color-mix(in srgb, var(--bg-main), transparent 20%);
  color: var(--text-main);
  padding: 1rem 10%;
  box-shadow: 0 0 10px var(--primary);
  border-bottom: 1px solid var(--border-color);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  backdrop-filter: blur(10px);
}
nav .logo {
  font-weight: 800;
  font-size: 22px;
  letter-spacing: 1px;
  text-shadow: 0 0 10px var(--primary);
}
nav .logo span {
  color: var(--primary);
}
nav .search-bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .search-bar input {
  padding: 0.8rem 3.5rem 0.8rem 1rem;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  width: 22rem;
  background-color: var(--bg-main);
  border: 2px solid var(--border-color);
  outline: none;
  color: var(--text-main);
  caret-color: var(--primary);
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
}
nav .search-bar input:focus {
  border-color: var(--primary);
  box-shadow: 0 0 10px var(--primary);
}
nav .search-bar i {
  position: absolute;
  right: 20px;
  color: var(--primary);
  pointer-events: none;
  font-size: 1.1rem;
  background: none;
}
nav .icons {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  gap: 1.1rem;
}
nav .icons i {
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
nav .icons i:hover {
  color: var(--primary);
  text-shadow: 0 0 8px var(--primary);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
@media (max-width: 991px) {
  nav {
    padding: 1.5rem 1rem;
    position: relative;
  }
  nav .logo {
    font-size: 18px;
  }
}
